<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navFragment">
    <div class="admin-menu-group">
        <ul class="list-group">
            <li class="list-group-item far fa-folder"><span>점포 관리</span></li>
            <li class="sub-menu"><a href="/admin/franchise"><i class="fas fa-ellipsis-h"></i><span>프랜차이즈</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>개인</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>주문 관리</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>매출 현황</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>운영 현황</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>계약 관리</span></a></li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item far fa-folder"><span>정보 관리</span></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>사원</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>점주</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>고객</span></a></li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item far fa-folder"><span>상품 관리</span></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>프랜차이즈</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>개인</span></a></li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item far fa-folder"><span>공유사항 관리</span></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>공유사항</span></a></li>
            <li class="sub-menu"><a href="#"><i class="fas fa-ellipsis-h"></i><span>점주 건의사항</span></a></li>
        </ul>
    </div>
</nav>
</html>