@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/***************************************************************
	=====================================================
		날짜				|	작성자	|	내용
	=====================================================
		2021. 07. 22	|	이영우	|	css 작성

*****************************************************************/

/* google font */
body, span, a, p {font-family: 'Do Hyeon', sans-serif;}
html, body {width: 100%; height: 100%;}

a, a:hover{color: black; text-decoration: none;}


/* wrapper */
.wrapper {
    width: 100%;
    height: 100%;
}

/* header */
header {
    position: fixed;
    float: left;
    font-size: 1.1rem;
    width: 100%;
    height: 40px;
    /*background: #cae1f9;*/
    z-index: 1;
}

header .header-menu-bar {
    /*margin-left: 250px;*/
    border-bottom: 2px solid #dee2e6;
    height: 100%;
    background: white;
    padding-top: 7px;
}

header .header-menu {
    /*margin-left: 10px;*/
    padding: 11px 10px 10px 260px;
    display: inline;
    height: 100%;
    background: #cae1f9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header #toggle-nav {
    cursor: pointer;
}

header .admin-info {
    float: right;
    padding-right: 20px;
}

header span {margin-left: 10px;}

header .dropdown-item {text-align: center;}

/* nav */
nav {
    position: fixed;
    /*top: 40px;*/
    background: #cae1f9;
    clear: both;
    float: left;
    width: 250px;
    height: 100%;
    border-top: 2px dotted #b7d8fb;
    left: 250px;
    margin-left: -250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: auto;
    z-index: 1;
}

/* nav 스크롤바 */
nav::-webkit-scrollbar { width: 5px; }
nav::-webkit-scrollbar-track { background-color: #F3F3F3; }
nav::-webkit-scrollbar-thumb { background-color: #b7d8fb; }
nav::-webkit-scrollbar-button { display: none; }

nav .profile {
    height: 270px;
    border-bottom: 2px dotted #b7d8fb;
    border-right: 2px dotted #b7d8fb;
    text-align: center;
}

nav .admin-info {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav #profile {
    border-radius: 50%;
    width: 180px;
    height: 160px;
    margin-top: 20px;
}

nav .admin-self-menu {
    margin-bottom: 10px;
    text-align: center;
}

nav .dropdown {
    display: inline;
    cursor: pointer;
    margin-left: 20px;
}

nav .dropdown-menu {min-width: 0px;}

nav .admin-logOut {
    display: inline;
    cursor: pointer;
}

nav .menu {
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 25px;
}

nav .admin-menu-group {
    border-right: 2px dotted #b7d8fb;
    background: #cae1f9;
    height: 100%;
}

nav .list-group {
    list-style: none;
    margin: 20px 10px 20px 10px;
    padding: 0px;
    border-radius: 0px;
    background: white;
}

nav .list-group li {cursor: pointer;}

nav .list-group .sub-menu:hover {background-color: #f3f4f7;}

nav .list-group li span{margin-left: 10px;}

nav .list-group .sub-menu {
    padding: 5px 0px 5px 30px;
    display: none;
}


/* section */
section {
    overflow: hidden;
    margin-left: 250px;
    padding: 10px 20px 10px 20px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

/* button */
.btn {
    padding: 0px;
}
