section article {
    margin-top: 10px;
}

section ul {
    list-style: none;
    margin: 0px;
    padding: 10px 0px 0px 0px;

}

section li {
    display: inline;
    margin: 20px;
}

section .info input, select {
    border: 1px solid #ddd;
}

section .info {
    height: 50px;
    background-color: #cae1f9;
    margin-top: 0px;
}

section .info ul li button {
    line-height: 1;
    width: 100px;
    padding-right: 20px;
    margin-right: 10px;
    float: right;
}

section .info ul li span{
    margin-right: 10px;
}

section .info ul li button span{
    margin-left: 10px;
}

section .sub-menu-name {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
}

section .sub-menu-name span {
    margin-left: 10px;
}

section .table, td {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0px;
    overflow: auto;
}

section .table td {
    padding: 8px 10px 8px 10px;
}

section .data-table-div {
    width: 100%;
    height: auto;
    border-left: 1px solid white;
    margin-top: 10px;
}

section .sub-menu-detail-name {
    margin-bottom: 10px;
}

section .sub-menu-detail-name span{
    font-size: 1.2rem;
}

section .tab-pane {
    margin: 10px 0px 0px 0px;
    height: 280px;
    padding: 0px;
}

section .data-table-detail-div {
    width: 100%;
    height: auto;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid white;
    margin-top: 10px;
}

section .dataTables_paginate{
    margin-bottom: 10px;
}

section table.dataTable.no-footer{
    border-bottom: 1px solid lightgray;
}

section table.dataTable thead td, table.dataTable tbody td{
    border-bottom: 1px solid white;
}

section .paginate_button.current{
    background: #cae1f9 !important;
    border: #cae1f9 !important;
}

section .paginate_button {
    border: 1px solid #cae1f9 !important;
}

section .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
}

@media (max-width: 942px) {
    .dataTables_paginate {display: none;}
}

